* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color scheme 1 */

  --LIGHT-BLUE: #10aedb;
  --DARK-BLUE: #063455;
  --BROWN: #ffbc81;
  --RED: #eb274b;
  --WHITE: #f0f8ff;

  /* COLOR SCHEME 2 */

  --BLUE: #2d7bd8;
  --PALE-BLUE: #d0e7fe;
  --DARK-BLUE2: #0d2237;
  --ORANGE: #ff842b;

  /* COLOR SCHEME 3 */
  --DARK-GREEN: #13282b;
  --LIGHT-GREEN: #055256;
  --PALE-GREEN: #9ab8ba;
  --LIGHT-CYAN: #def9fa;
}

body {
  height: 100%;
  background-color: var(--DARK-GREEN);
  color: var(--WHITE);
}

#root {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1.5rem;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  column-gap: 1rem;
}

/* HERO */
.hero {
  height: 70vh;
  display: grid;
  place-content: center;
}
